.container {
  width: 23.4375rem;
  height: 41.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  background-image: url("../src/images/background/sunny.svg");
}

.sunny {
  background-image: url("../src/images/background/sunny.svg");
}

.snowing {
  background-image: url("../src/images/background/snowing.svg");
}

.rainy {
  background-image: url("../src/images/background/rainy.svg");
}

.cloudy {
  background-image: url("../src/images/background/cloudy.svg");
}
