.content {
  display: flex;
  align-items: center;
  height: 12%;
  margin-bottom: 1.25rem;
}

.weather {
  height: 100%;
  margin: 0 0.8rem 0 2.2rem;
}

.temp {
  width: 3rem;
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.tempImg {
  height: 100%;
}
