.content {
  display: flex;
  align-items: center;
  height: 12%;
  margin-bottom: 1.25rem;
}

.weather {
  height: 100%;
  margin: 0 0.8rem 0 3rem;
}

.tempImg {
  height: 100%;
}

.tempHot {
  margin-right: 1rem;
}
